{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row" style="font-size:18px">
			<p class="mr-3" style="font-size:18px">Sort options :</p>
			<a class="text-dark" href="/pokemon/id" aria-label="sort pokemons by id">Id</a>
			<span class="ml-3 mr-3">-</span>
			<a class="text-dark" href="/pokemon/name" aria-label="sort pokemons by name">Name</a>
			<span class="ml-3 mr-3">-</span>
			<a class="text-dark" href="/pokemon/id" aria-label="sort pokemons by type">Type</a>
		</div>

		<div class="row">
			{% for pokemon in pokemonGenerationPaginated %}
				<div class="col-md-4 col-lg-3  p-4">
					<a href="/pokemon-details/{{ pokemon.name }}" aria-label="show pokemon details">
						<div class="row bg-light">
							<div class="col-6">
								<img class="mx-auto d-block" style="height:100%" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png" alt="image of pokemon" />
							</div>
							<div class="col-6">
								<div>
									<p class="text-dark">#{{pokemon.id}}</p>
									<p class="text-dark">{{pokemon.name}}</p>
									<p class="text-dark">{{pokemon.types[0].type.name}}</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>

		<div>
			{{ knp_pagination_render(pokemonGenerationPaginated) }}
		</div>
	</div>
{% endblock %}
